body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.blue-bottom-border {
  border-bottom-color: var(--th-blue-two);
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.blue-gradient-text {
  background-image: linear-gradient(45deg, var(--th-blue-two), var(--th-blue-one));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
