.proj-detail-hero-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 480px;
    background-color: black;
}

.proj-detail-hero-right {
    img {
        width: 256px;
        height: auto;
        padding-right: 5vh; 
    }
}

.proj-detail-hero-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;

    h1 {
        font-size: 64px;
        font-weight: 600;
        margin: 0 0 12px 42px;
    }
}

.overlay-bg {
    background: linear-gradient(45deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.goldybot-bg {
    background: linear-gradient(45deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/goldybot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scrimbot-bg {
    background: linear-gradient(45deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/scrimbot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hc-bg {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/hype-chamber.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.strelka-bg {
    background: linear-gradient(45deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/strelka.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dd-bg {
    background: linear-gradient(45deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('../../../assets/images/projects/dystopian-defier.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 800px) {
    .proj-detail-hero-left {
        h1 {
            margin: 0 12px;
        }
    }
}